
  <div class="container">
    <div class="row d-flex flex-row justify-content-between">
   {{!-- NAZ: This is where all of the musicians will be desplayed. Changed the hard coding into dynamic    --}}
     {{!-- ************************************************************************************************************* --}}
      <div class="col-md-7 my-5 p-0 border-right">
      <h2 class="mb-5">Musicians in your area</h2>
         {{#each musicians}} 
        <div class="row my-3 p-3 border-top d-flex flex-row align-items-center">
            <div class="col-md-2">
            <img src="{{avatar}}" alt="user avatar" width ="100%">
            </div>
            <div class="col-md-8">
              <h5>{{nickname}}</h5>
              <p>{{description}}</p>
            </div>
            <div class="col-md-2">
              <a href="/members/explore/{{id}}" class="btn btn-secondary">Explore</a>
            </div> 
        </div>
         {{/each}}
      </div>
    {{!-- **************************************************************************************************************** --}}
      <div class="col-md-4 my-2 p-3 border">
         <h3>:) Welcome, </h3><h4> {{currentUser.email}}</h4>
           <a class="btn btn-outline-danger my-5" href="/logout">
              Logout
           <a>
        <h4>Make yourself known with a detailed account!</h4>
        <hr>
           <a class="btn btn-outline-warning my-5" href="/members/edit/{{currentUser.id}}">
              Edit Personal Account
           <a>
           <a class="btn btn-outline-success my-5" href="/members/{{currentUser.id}}">
              Create Personal Account
           <a>
      </div>
    </div>
  </div>
